{% extends 'base.html' %}

{% block content %}
    <div class="aboutme">
        <h1>A little bit about me</h1>

        <p>Hi, everyone!</p>
        <p>
            As I said, I'm graduating at Computer Science at Universidade Federal de Alagoas - UFAL (Federal University of Alagoas in english),
            in Arapiraca-AL. Python developer actually focusing in Machine Learning and Data Science and Web Development with Django
            Framework.
        </p>
        <p>
            In college, I worked in Laboratório de Hardware e Redes - LAHR (Laboratory of Hardware and Computer Networks in english) for a short time
            with Web Development using Django Framework. Later, I joined in Coletivo EIDI, a group thit aims to provide (and encourage) students of
            Computer Science the opportunity to discuss, study, develop and/or disseminate solutions to the most varied problems of society in general,
            especially local. And recently I joined in Laboratório de Inteligência Computacional Aplicada - LICA (Laboratory of Computational Intelligence
            Applied)
        </p>
        <p>
            About communities: in Arapiraca, where I live, we have a small group of developers that organize meetups (sponsored by Google Developers Group)
            where some people present a certain topic about software development and its technologies and methodologies and themes in high about
            computing in general. 
        </p>
        <p>
            I'm musician too and I work (temporarly until I get my first work with programming) with a band composed by 4 guys playing brazilian regional music,
            it's called sertanejo and althrougt I'm still study guitar (for hobby), I'm playing bass in this band.
        </p>
        <p>
            Well, this is - a little bit about - me at this point. See you soon!
        </p>
    </div>
{% endblock %}